doctype html
head
  title Rezerwacja
  link(rel='stylesheet' href='/styling.css')
.reservation-page
  include header.pug
  .reservation-data
    .trip-reservation-info
      h5 #{trip.name} za #{trip.price} PLN
      img(src=trip.src alt=trip.alt)
      h6 Zostało #{trip.tickets} miejsc
    section#form
      form(method='post' action='/reservation/'+ trip.id)
        input#name(type='text' placeholder='Imię' name='name' maxlength='40' required='')
        input#surname(type='text' placeholder='Nazwisko' name='surname' maxlength='40' required='')
        input#phone(type='tel' placeholder='Numer telefonu' name='phone' pattern='[0-9]{9}' title='Numer musi być 9-cyfrowy.' required='')
        input#email(placeholder='Adres email' name='email')
        input#people(type='number' placeholder='Liczba osób' name='people' required='' min='1' max='4')
        button#submitid(type='submit') W drogę
  include footer.pug
